<%- include('./layouts/navbar.ejs')%>
<div class="section--form-background">
<div class="container">
    <h1> Alfa is here </h1>
    <form action="/land-post" method="POST">
        <input placeholder="name" name="name" />
        <input placeholder="password" name="password" />
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
</div>
</div>
    <div class="sticky__footer navbar-fixed amber darken-2"> 
 
  </div>
<%- include('./layouts/footer.ejs')%>